{% extends "base.html" %}
{% block title %}Affiche arbre{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/prof.css" />
{% endblock %}
{% block content %}
<form method="POST" novalidate>
	{% csrf_token %}
	<h2>Login</h2>
	{{form.as_p}}
	<input type="submit" value="Login" />
	<p>Don't have an account? <a href="{%url 'register' %}">Register</a></p>
    <p>Mot de passe perdu ? <a href="{%url 'resetpwd' %}">Nouveau mot de passe</a></p>
</form>

{% endblock %}