html, body{
		    height:100%;
        width:100%; 
	      //règle les marges
				margin-left:0px;
				margin-top:0px;
				margin-right:0px;
				margin-bottom:0px;
				background-color:#FFFFFF;
			  overflow:hidden;
		}
		div#cadre{
		 border-style:solid;
			 width: 950px;
			 height: 100%;
			margin:0px auto;
		  overflow:hidden;
            background-color:#ebebeb;
		}
		
		div#conteneur		
		{   float:left;
		    border-style:solid;
			 width: 150px;
			 height:500%;
			 border:5px;
			 background-color:#2d4235;
			 left:0px;
			 
			 
		/*   background-image: url("test6ap.gif");*/
       background-repeat:repeat-y;
       
        overflow-y:auto;
		}
		div#conteneur2
		{   position:relative;
		    
			 /*background-image: url("couleurs.jpg");*/
			 height: 100%; 
			 margin-top:0px;
		   		
			 
			
		
			 overflow:-Moz-Scrollbars-vertical;
 		   overflow-x:auto;
 		   overflow-y:scroll;
    }

    
    div#im2{
      position:absolute;
      margin-left:10px;
      margin-top:10px;
      top: 20px;
      height: 50px;
      width:95px;
    }

    div#im4{
      position:absolute;
      margin-left:10px;
      margin-top:10px;
      top: 180px;
      height: 50px;
      width:95px;
    }
    div#im5{
      position:absolute;
      margin-left:10px;
      margin-top:10px;
      top: 240px;
      height: 50px;
      width:95px;
    }
    div#im6{
      position:absolute;
      margin-left:10px;
      margin-top:10px;
      top: 300px;
      height: 50px;
      width:95px;
    }
    div#im7{
      position:absolute;
      margin-left:10px;
      margin-top:10px;
      top: 360px;
      height: 50px;
      width:95px;
    }
    div#im8{
      position:absolute;
      margin-left:10px;
      top: 420px;
      margin-top:10px;
      height: 50px;
      width:95px;
    }
    div#im10{
      position:absolute;
      margin-left:10px;
      margin-top:10px;
      top: 480px;
      height: 50px;
      width:95px;
    }
    div#im11{
      position:absolute;
      margin-left:10px;
      margin-top:10px;
      top: 540px;
      height: 50px;
      width:95px;
    }
    div#im11{
      position:absolute;
      margin-left:10px;
      margin-top:10px;
      top: 650px;
      height: 50px;
      width:95px;
    }
    div#im1{
      position:absolute;
      margin-left:10px;
      margin-top:10px;
      top: 680px;
      height: 30px;
      width:30px;
    }
    img.btn {
   	
   border:0px; 
   
}
