
  <p class="celebnom"><A name="ancre7">Famille Barraud-Sainctiers ou Maîtres fondeurs de cloches</A></p>
  <br>
  <br>
  <p class="celebind">
  Ce métier était un art (art campanaire) associant une technique de fabrication avec les notions de notes musicales pour donner le bon son à une cloche.
Les Baraud ont exercé ce métier de père en fils sur plusieurs générations notamment dans la commune de Sers en Charente, néanmoins l’origine des Baraud semble être en Dordogne.

  </p>
  <br>
  <p class="celebind">
     Voici une liste non exhaustive de quelques fondeurs de cette famille :</p>
  <p class="celebind">Pierre Baraud : Réside à Sers au village Cherbontiere, fond une petite cloche de 149 livres dédiée à Saint Gervais et Saint Protais en 1663, Il meurt le 18 février 1668.
  </p>
   <p class="celebind">Nicolas Baraud : fils de Pierre, maître fondeur de cloches pour le Roi aux Coussadeaux en Sers, refond la cloche de Rougnac, endommagée par les huguenots. Il meurt 20 mars 1695
  </p>
  <p class="celebind">Marc Baraud : Fils de Nicolas, maître fondeur
  </p>
   <p class="celebind">Jean Baraud : fils de Pierre, maître fondeur de cloches pour le Roi aux Coussadeaux en Sers. Assisté de son frère Nicolas, il refond la cloche de 1300 livres de la cathédrale d'Angoulême.
  </p>
   <p class="celebind">Etienne Baraud : fils de Jean auteur de la cloche mise en illustration (1712) qui est une cloche de l’Eglise Saint Fraigne en Charente.
  </p>
   <p class="celebind">Louis Baraud : fils de Jean (et non de René comme cela est noté dans tous les documents sur la famille Baraud), maître fondeur. Il fond la cloche de Saint-Maurice de Montbron en 1719. Dans l'église abbatiale de Brantôme, la cloche de deux tonnes est signée "RENATUS ET LUDOVICUS BARAU FRATRES" (René et Louis Barraud frères).
  </p>
   <p class="celebind">René Baraud : fils de Jean vivait à Rochefort et fut mouleur de canons également.
  </p>
  <p><a href="https://gallica.bnf.fr/ark:/12148/bpt6k102464j/f469.item.r=BARRAUD">Source 1 : Gallica Barraud </a></p>
  <a href="https://fr.geneawiki.com/wiki/16368_-_Sers#La_dynastie_des_BARRAUD_fondeurs_de_cloches">Source 2 : Barraud de Sers Geneawiki </a>
