<br> <p class="celebind">
  Gustave, participa au développement technique de la photographie comme en témoigne la présentation faite en 1906 lors de
  sa nomination à l’académie de Mâcon (société des arts, sciences, belles-lettres et d’agriculture).
    </p>
   <p class="celebcita"> La présentation de  M Dureault et M Pellorce : "Mr Bouillaud (Gustave, né à Vouzan (Charente), le 20 mars 1852,
   est le photographe mâconnais dont le talent est fait d'art et de science. Parmi de nombreuses innovations heureuses, il a inventé notamment
   un appareil et un procédé photographique qui permettent d'opérer en tout temps, avec un succès assuré, à la lumière artificielle,
   en s'affranchissant de l'aléatoire complicité du soleil jusqu'ici l'indispensable collaborateur du photographe M. Bouillaud a rendu indiscutablement
   de très important services à la photographie."
   </p> <p class="celebcita">
  Source :Annales de l’Académie de Mâcon (1906 (SER3, T11)
  </p>
     <p class="celebind">
  L’expression « d’art et de science » définissant son talent est juste car il n’était pas seulement un technicien, il recherchait,
  je pense, avant tout la perfection esthétique des photos. En témoigne les nombreux prix reçus pour ces photos : </p>
<p class="celebcita">
Médailles d’argent, FLORENCE 1887</p><p class="celebcita">
Médailles d’argent, PARIS 1887</p><p class="celebcita">
Médailles d’argent, BARCELONE 1888</p><p class="celebcita">
Médailles d’argent, PARIS 1889(exposition universelle)</p>