   <p class="celebnom"><A name="ancre3">Gustave Bouillaud</A></p>
   <br>
  <br>
  <p class="celebind">
     Gustave, né à Vouzan (Charente), le 20 mars 1852, Photographe
        </p>
 <br>
  <br>
  <p class="celebind">
 Mon arrière grand-père Augustin Jean Bouillaud, nourrissait toute ma curiosité. En effet en 1890, il était photographe à Brive,
 puis « photographe ambulant » à Reims...
 La photographie étant inventée seulement 50 ans  plus tôt, cela me paraissait assez formidable que mon aïeul, issu d’une famille paysanne charentaise,
 décide de changer radicalement de voie pour devenir photographe et donc de partir un peu à l’aventure.


  </p>
  <br>
    <p class="celebind">
  Sachant cela, je ne voulais pas en rester là.
  Ainsi, je me suis lancé à la recherche hypothétique, sur internet, de photos prises par mon arrière grand-père. Longtemps, ma recherche resta infructueuse,
  je tombais souvent sur un Bouillaud Gustave de Macon, mais à priori rien à voir avec Augustin Jean.
  Jusqu’au jour où, par hasard, dans un résumé de site internet, je lis : </p>
    <p class="celebcita">
           « Bouillaud Gustave né à Vouzan Charente ».

    </p>
<p class="celebind">
  Et là, je me dis que mon arrière grand père né à Vouzan également, devait forcément connaitre ce Gustave.
  Après la récupération de l'acte de naissance de Gustave, les soupçons se confirmèrent : Augustin Jean et Gustave étaient frères.
  Gustave qui était prénommé Augustin sur l’acte fut l’ainé de mon arrière grand père de 11 ans.
  C’était donc l’initiateur, Augustin Jean n’a fait que suivre son grand frère.
  J'ai alors recherché plus d’informations sur mon arrière grand oncle ; je ne fus pas déçu.
</p>
   <p class="celebind">
  Gustave s’est installé comme photographe à Macon entre 1882 et 1886 jusqu’à sa mort en 1924.
  Il possédait 3 studios à Macon (4 rue de la Paroisse, 31 rue de la Barre, 19 quai du Nord).  </p>
  <center>