  <p class="celebind">
Le rapport du Jury de l’exposition de 1889 (celle pour laquelle fut construite la tour Eiffel) rend hommage au talent de Gustave.

Voici le commentaire de Léon Vidal le rapporteur de l’exposition de 1889.</p>
</p>
<p class="celebcita">"M.Bouillaud (Gustave), à Macon, est au nombre de ceux qui savent le mieux tirer parti de
ce mode d'impression pour l'appliquer à des oeuvres empreintes d'un cachet artistique tout spécial. Les sujets qu'il a exposés sont tous au charbon;
ils sont d'une délicatesse de rendu qui permet de les classer dans les premiers rangs des études d'art accomplies
à l'aide de la photographie." </p>
<p class="celebind">
Gustave est mort en 1924 à Mâcon à 72 ans. Sa vie fut consacrée à la photographie.
 Il fut à la fois technicien (plusieurs brevets d'invention en témoignent) et artiste.

 Mais, il me reste  des interrogations sur son parcours : Pourquoi s’est-il installé à Mâcon si loin de la
Charente ? Un célèbre Médecin Bouillaud, né également en Charente était son contemporain,
il s’agit de Jean Baptiste Bouillaud ; se connaissaient-ils ?
</p>
