
  <p class="celebnom"><A name="ancre4">Albert Camus</A></p>
  <br>
  <br>

  <p class="celebind">
  Albert Camus, écrivain, philosophe, dramaturge (Dréan (Algérie) 1913-Villeblevin 1960), il reçut le prix Nobel de littérature en 1957.
  </p>
  <br>
  <br>
  
  <p class="celebind">
       Albert Camus est né en Algérie, son grand père Jean Baptiste Camus a fait partie d’une vague de colons qui se sont installés en Algérie. Il est issu d’une famille pauvre son père orphelin est mort jeune à la guerre, sa mère était femme de ménage. Son instituteur, Louis Germain, a eu une importance considérable, et lui sera toujours reconnaissant. En effet c’est lui qui a permis qu’Albert puisse faire des études en allant voir sa grand-mère ce qui n’était pas prévu du tout. Au lycée il prendra conscience de sa différence de classe sociale avec les autres élèves. Ses origines modestes resteront en lui et influencera sa vie d’artiste. Il se voyait certainement plus comme un artiste que comme un intellectuel. Il est assez critique vis-à-vis des intellectuels qu’il voit enfermés dans des schémas de pensée. Albert ne veut pas se limiter pour être au plus juste de la réalité, de l’actualité.
   </p>
   <p class="celebind">
   Albert Camus a des origines provençales par son arrière-grand-mère Beleoud Marie-thérèse née à Marseille en 1809. En remontant l’ascendance de Marie-Thérèse nous arrivons à Valréas, ville de naissance de ma mère, de ce fait il se trouve que nous avons un aïeul commun et sommes donc cousins éloignés.

       </p>

 