{% extends "base.html" %}
{% block css %}{% load static %}
    <link rel="stylesheet" type="text/css" href={% static "css/celebre.css" %} />
{% endblock %}
{% block title %}Célebre{% endblock %}
{% block content %}
{% load static %}
 <br>
  <p class="title">Quelques personnages ou familles s'étant remarqués ...</p>
  <BR><BR><BR><BR>
  <p align="center"><a href="#ancre1">Marcel Pagnol, écrivain et cinéaste français</a></P>
     <P ALIGN="center"><a href="#ancre4">Albert Camus, écrivain, dramaturge</a> </P>
   <p align="center"><a href="#ancre2">Jean Siffrein Maury, Cardinal, participa à l'histoire de la Révolution</a></P>
   <p align="center"><a href="#ancre3">Gustave Bouillaud, Photographe ayant participé au progrès technique de la photographie </a></P>
   <p align="center"><a href="#ancre5">Elisa Lamotte, Actrice dans les années 1950 </a></P>
    <p align="center"><a href="#ancre6">Nicolas de Montfort, comte de Campobasso, et branche royale </a></P>
    <p align="center"><a href="#ancre7">Famille Barraud de fondeurs de cloches</a></P>
    <p align="center"><a href="#ancre7">Famille Pâtureau Maîtres moulinier à foulons</a></P>
  <br>
  <br><BR><BR>
  <BR><BR>
  <BR><BR>
   <hr></hr>
    <div id="picture" >
  <img src={% static "img/pagnol.jpeg" %}>
  </div>
        {% include 'Pagnol.html' %}

  <hr></hr>
  <div id="picture">
  <div id="picture" >
  <img src={% static "img/Camus.jpg" %}>
  </div>
        {% include 'Camus.html' %}

  <hr></hr>
  <div id="picture">
  <img src={% static "img/Cardinal.jpg" %}>
  </div>
     {% include 'Siffren.html' %}
    <hr></hr>
  <div id="picture">
  <img src={% static "img/Bouillaud.jpg" %}  height="200" width="125">
  </div>


    {% include 'BouillaudG1.html' %}
 
  <img src={% static "img/affiche1.jpg" %} height="100" width="200"></img>
   <img src={% static "img/affiche2.jpg" %}  height="200" width="100"></img></center>
    {% include 'BouillaudG2.html' %}
    <center><img src={% static "img/paris1889.jpg" %}  height="200" width="131"></img></center><br>
 
   {% include 'BouillaudG3.html' %}
      <hr></hr>
   <div id="picture">
  <img src={% static "img/Elisa Lamotte.jpg" %}>
  </div>
     {% include 'Lamotte.html' %}
     <hr></hr>
  <div id="picture">
  <img src={% static "img/Monforte.jpg" %}  height="200" width="125">
  </div>


    {% include 'Montfort.html' %}
 
  <img src={% static "img/Blanche de Castille.jpg" %} height="100" width="200"></img>
  <img src={% static "img/Aliénor.jpg" %} height="100" width="200"></img>
  <img src={% static "img/Charlemagne.jpg" %} height="100" width="200"></img>
  {% include 'Montfort2.html' %}
   <hr></hr>
   <div id="picture">
  <img src={% static "img/Cloches.jpg" %} height="200" width="125">
  </div>
     {% include 'Barraud.html' %}
   <hr></hr>
   <div id="picture">
  <img src={% static "img/moulins.png" %} height="100" width="200">
  </div>
     {% include 'Patureau.html' %}
{% endblock %}