{% extends "baseCousin.html" %}
{% block title %}Affiche arbre{% endblock %}{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/cousacc.css" %}  />
{% endblock %}
{% block content %}
  <div id="boitecousin">
    <table height="100%" width="100%"  border="1" bgcolor="#747064">
   <tr>
       <td height="10%" width="50%" valign="middle" class="process"><p class="liencous"><a class="white" href="TabActes">Actes</a></p></td>
        <td height="10%" width="50%" valign="middle" class="process"><p class="liencous"><a class="white" href="gedDownload">Gedcom</a></p></td>
     </tr>
     <tr>
         <td height="90%" COLSPAN=6 bgcolor="#d9d9d7" ALIGN="center">
              <span class="cousacc">
        Bonjour
       <BR>
       <BR>
       Bienvenue dans l'espace "cousin" !!!
       <BR>
       <BR>

       </span>
     </td>

	</tr>

	</table>

     </div>



{% endblock %}