{% extends "baseCousin.html" %}
{% block title %}Affiche arbre{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/cousacc.css" />
{% endblock %}
{% block content %}

      <table border="1" CELLPADDING="4" CELLSPACING="0">
      <tr>
      <th><font class="cousacc">Fichier</font></th>
      <th><font class="cousacc">télécharger</font></th>
      </tr>


                  <tr><td><font class="cousacc">local102012_11-07-2023</font></td><td align="center">
                      <a href="download_file" class="lien"><img src="/static/img/download.gif" width="12" height="12" /></a>
                  </td></tr>






      </table>


{% endblock %}