{% extends "base.html" %}
{% block title %}Affiche arbre{% endblock %}
{% block css %}{% load static %}<link rel="stylesheet" type="text/css" href={% static "css/acc.css" %} />
    {% endblock %}
{% block content %}
{% load filtertags %}

 <font class="acc1">
 		 		   <p align="center">
 		 		    				Ma généalogie est votre généalogie
 				   </p>
 			    </font>



      	   <font class="acc1">
      	   <p align="center">
   	   	          Découvrez ...
   	   	          </p>
   	      </font>

            <font class="acc">
             <p align="center">
         	Des statistiques permettant d'appréhender les modes de vies de nos ancêtres au cours des siècles.
           <br>
           <br>
  			   Un accès à des actes, au fichier Gedcom...

 			 </font>
  <br><br>





      		     <FONT class="acc1">
      		      <br>
 <br>
     			       ... avec également </font>
      			  <br><br>
      			   <font class="acc">
        	 Une page sur les métiers exercés par nos aïeux<br><br>

  					  Une page sur les personnages connus de cet arbre
  					 </font>






 <br>
 <br>
 <br>
 <FONT class="acc2">
            <u>Nota bene :</u> Les données de ce site ne peuvent servir qu'à vous guider dans vos recherches mais ne peuvent en aucun cas remplacer des sources d'archives.


            <br>
       <p align="center">     <img src="/static/img/PLUME.gif"><a href="mailto:cmagnoux@yahoo.fr"> Contactez-moi </a></p>

       <p align="center">   </p>
               </font>







{% endblock %}