
  <p class="celebnom"><A name="ancre5">Elisa Lamotte</A></p>
  <br>
  <br>
  <p class="celebind">
  Elisa Lamotte, actrice (Briey 1919-Paris 2013).
  </p>
  <br>
  <p class="celebind">
      Andrée dite « Elisa » Lamotte est née en 1919 à Briey. Par ses origines charentaises nous avons un aïeul en commun via le couple Lamoureux Catherine et Baraud Jean. Elisa est issue d’une famille d’artistes :</p>
 <p class="celebind"> son grand père était professeur de hautbois, et directeur du conservatoire de musique de Bordeaux, auteur de nombreuses "Études".</p>
<p class="celebind">Son arrière-grand-père Nicolas Antoine dit "Antony" LAMOTTE était compositeur, chef d'orchestre et poète</p>
<p class="celebind"> Enfin elle-même fut actrice dans de nombreux films dans les années 50.  </p>