{% extends "base.html" %}
{% block title %}Affiche branche{% endblock %}
{% block content %}
 <BR>
  <br>
  <p class="title">Merci à tous ceux qui m'ont aidé !! </p>
  <br>
  <br>
  <p class="ind">
  A ce titre, je voudrais rendre hommage aux généalogistes qui ont travaillé sur Valréas. Ma mère y est née, mais étant géographiquement éloigné je n'ai pas
  beaucoup fait de recherches. Malgré cela, grâce à la sympathie et à la générosité de ces personnes c'est la ville où j'ai le plus de données.
  Ainsi je voudrais remercier :
  </p>
  <br>
  <br>


  <li>
  <p class="ind">
  <B>Mr DUHAUT</B> qui a fait débloquer mes recherches en me donnant des copies d'actes de mes aïeux de Valréas. </p>
  </li>

  <br>
 <li>
 <p class="ind">
  <B>Mr Bernard DELEFOSSE </B>qui a bien voulu me communiquer ses données sur le patronyme DUPRE. Sur Valréas beaucoup d'autres informations proviennent de son arbre sur geneanet, je pense que si on fait des recherches sur Valréas on ne peut passer outre cette source d'informations
  <a href="http://gw.geneanet.org/dele84"> :  voici le lien</a>
  </p>
  </li>
  <br>
   <li><p class="ind">
  <B>Mme Annie MANDRIN </B>qui a fait un travail incroyable sur ce patronyme, qui est le patronyme de ma grand-mère. Vous trouverez beaucoup d'autres informations sur son site : <a href="http://gw.geneanet.org/anniemandrin">voici le lien</a></p>
  </li>
  <br>
  <li><p class="ind">
  <B>Mr Olivier AUBRESPIN </B>également m'a transmis ses données avec générosité notamment sur le patronyme Aubrespin et Penable. Vous trouverez également son arbre sur geneanet : <a href="http://gw.geneanet.org/aubrespin">voici le lien</a> .</p>
  </li>
  <br>
  <li><p class="ind">
  <B>Mme Mireille SALIVET </B> a eu la gentillesse de me contacter pour m'informer de son travail sur le patronyme Salivet. J'ai pu en effet constater un travail impressionant et très complet sur ce patronyme. Sur ce site vous ne verrez qu'un une infime partie de son travail donc si vous souhaitez en savoir beaucoup plus <a href="http://gw.geneanet.org/msalivet">voici le lien</a> .</p>
  </li>
  <br>
  <p class="ind">
  La chaleur du sud en tout cas à Valréas n'est pas une légende !
  </p>
  <br>
  <hr>
  <br>
  <br>
   <p class="ind">
  Si l'on se déplace au Nord Ouest de Valréas alors on arrive en Charente, en Charente sont les origines de mon grand-père et de ses ancêtres.
  En Charente deux personnes m'ont beaucoup aidé, il s'agit de :
  </p>
  <br>
  <br>
  <li><p class="ind">
  <B> Mr Jean-François GAZOUFER </B>, qui a également bien voulu me transmettre ses données étant en relation avec son arbre de part le Patronyme Gayon,Merlaud,Debrie.
  </p>
  </li>
  <br>
   <li><p class="ind">
  <B>Mr Hubert PAIN </B>, qui a recueilli beaucoup d'informations en lien avec mon arbre en Charente et m'en a généreusement fait part.</p>
  </li>
  <br>
  <hr>
  <br>
  <br><p class="ind">
  Enfin si l'on se déplace vers le Nord Est de la Charente alors on arrive là où je suis né et où se trouvent les origines des ancêtres de mon père, à savoir
  le département de l'Indre.<br>
  <br>
  Dans ce Département je voudrais remercier <B>Mme Annick BECHEREAU</B> qui a fait un travail colossal et qui a bien voulu me transmettre ses données en relation avec les miennes de part le Patronyme Moucheboeuf par exemple. <a href="http://gw.geneanet.org/tomoli">Voici le lien</a>
  <br>
    <br>
  <br>
  <hr>
  <br>
  <br>
   <p class="ind">
      Encore au Nord Est, nous arrivons dans le département du Territoire de Belfort et là je suis allé tout d'abord sur le site <b><a href="http://www.lisa90.org/">LISA 90</a></b> qui est une mine d'informations dont des actes en ligne entièrement gratuits.
      Ensuite je suis allé sur le groupe de discussion LISANAUTE90, c'est dans ce groupe de discussion que j'ai été en contact avec <B>Mme Marie-Ange JACQUOT</b> qui se plie en quatre pour aider les personnes et m'a permis de débloquer une branche de mon arbre sur le territoire de Belfort et plus largement dans l'est de la France.


  <br>
  </p>
  <br>
  J'ai certainement oublié des personnes et m'en excuse.
  <br>



{% endblock %}