
<p class="celebind">
Nicolas de Montfort est un ascendant direct, il mène à la branche royale. En effet, Nous arrivons aux rois de France et d’Angleterre soit par la Branche Montfort (si elle est française, car il existe une polémique sur les liens avec la Famille MontFort L’Amaury) soit par sa mère. Par sa mère, nous arrivons au couple royal Louis VII et Blanche de Castille, par la branche Montfort nous arrivons au couple royal d’Angleterre Jean sans terre et Isabelle d’Angoulème. Branche royale qui amène aux origines mérovingiennes donc à Clovis en passant par Charlemagne.
</p>
  
