
  <p class="celebnom"><A name="ancre6">Nicolas de Montfort et Branche Royale </A></p>
  <br>
  <br>
  <p class="celebind">
  Nicolas de Montfort (Comte de Campobasso, Condottiere (chef d'une armée "privée")), (Naples 1415,Padoue 1478)
  </p>
  <br>
  <p class="celebind">
 Nicolas de Montfort est né en 1415 à Naples d'Angelo di Monforte-Gambatesa et de Giovanna da Celano, fille du comte de Celano Nicolò et de Maria Marzano. </p> 
<p class="celebind">Nicolas de Montfort est aguerri au commandement militaire depuis son plus jeune âge. Il est ce qu’on appelait un condottiere, plus précisément il est à la tête de mercenaires et se met au service de différents pouvoirs. C’est une sorte d’armée privée. Il combattit en Italie principalement pour le compte Jean d’Anjou contre les Aragonais. Après les succès des Aragonais il dût partir en France en Provence en 1465. Là il apprit l’adultère de sa femme qu’il tua. Ensuite, il se mit au service de René d’Anjou duc de Lorraine. Il fut principalement connu pour avoir permis au Duc de Lorraine René II de vaincre le siège mis pas Charles le téméraire duc de Bourgogne pour lequel il était au service. Il s’avère que cette traitrise était organisée en accord avec René II qui était l’époux de Yolande d’Anjou issu donc de la famille pour laquelle il a toujours combattu. </p>
 <p class="celebind">Nicolas de Montfort mourut de la peste à Padoue en août 1478.
  </p>
  