
  <p class="celebnom"><A name="ancre1">Marcel Pagnol</A></p>
  <br>
  <br>

  <p class="celebind">
  Marcel Pagnol, écrivain et cinéaste français (Aubagne 1895-Paris 1974), il fut reçu à l'académie française en 1946.
  </p>
  <br>
  <br>
  <u color="#6d6d6d"> Son ascendance :</u>
  <br>
  <p class="celebind">
       Côté paternel, les origines au moins depuis le début XVII sont ancrées en Provence et notamment à Valréas dans le Vaucluse.
       </p>

         <p class="celebind">
  Ses grands parents sont originaires de Valréas ainsi que la plupart de leurs ascendants depuis plusieurs siècles.
   Les arrière et arrière arrière grands parents de Marcel étaient armuriers à Valréas, son grand père André changea de direction puisqu'il
  fût Compagnon du Devoir, tailleur de pierre. Sa réputation de "Maître appareilleur de pierres" lui vaudra d'être chargé de resculpter la façade de l'Hôtel de Ville détruite en 1871 à Paris.<br>
  </p>
    <p class="celebind">
  André qui a souffert de ne savoir lire et écrire souhaita que ses six enfants soient instituteurs, ce fût le cas. André savait qu'avec la profession d'instituteur ses enfants seraient bien considérés,
   mais il devait savoir également à quel point la culture était importante, certainement la plus grande des richesses. Mr Jean Bernard qui prît la succession de Marcel
  Pagnol, à l'académie française, en parla éminemment bien lors de son discours prononcé dans la Séance publique à son arrivée en hommage à Marcel Pagnol, en voici un extrait :
  </p>
  <p class="celebcita">
  "De nombreuses études ont été consacrées aux instituteurs français, au rôle qu’ils ont joué au début de ce siècle, à leur valeur pédagogique (dont tous ceux qui sont passés par l’école communale peuvent porter témoignage), à leur courage, à leur simplicité, au conflit avec le curé, d’abord rigide, puis plus souple, devenu fraternel, presque affectueux déjà au temps de Joseph et de Jules, de Manon des Sources, de la Femme du Boulanger.
  <br>

     Les fils d’instituteurs n’ont pas, semble-t-il, été l’objet de la même attention. On les trouve pourtant nombreux dans les Universités, les Académies. Le même jour, en 1946, 1’Académie française élit le fils d’Henri Farigoule, instituteur à Montmartre, le fils de Joseph Pagnol, instituteur à Marseille. Ces fils d’instituteurs assument dans la fonction publique de hautes responsabilités et parfois la plus haute. Ils sont certes très divers. Mais certaines vertus, certains traits leur sont communs : le sens profond du bien public, la confiance accordée aux vertus de l’homme, une confiance plus grande encore accordée à la science, seule capable d’aborder et de résoudre les grands problèmes, le respect des valeurs de culture, le respect des humbles et le respect des hiérarchies, le respect du père instituteur. "
     </p>
     <br>
   <p class="celebind">
      Côté maternel, sa mère Augustine Lansot est née à Marseille, mais son père est né à Lorient. Le grand père Lansot de Marcel était également compagnon, mécanicien de marine. Sa profession le faisait beaucoup voyager, et de passage à Marseille il décida d'y résider. Il épousa une Marseillaise Paulin Gounet. Ainsi Augustine a des origines provençales mais de part son père également Bretonnes et Normandes.
        </p>