
  <p class="celebnom"><A name="ancre8">Famille Patureau Maître Moulinier à foulons</A></p>
  <br>
  <br>
  <p class="celebind">
  Le moulin à foulon servait à assouplir (fouler) la laine par battement en vue de confectionner des draps.
  </p>
  <p>La famille Pâtureau est une des plus anciennes familles de Châteauroux, sur plusieurs générations, on les voit à la fois fabricant en tant que Maitres moulinier mais aussi marchand.</p>
   <p></p>
  <br>
  <p class="celebind">
     En voici une liste non exhaustive de quelques Maitres Moulinier :</p>
  <p class="celebind">Pâtureau François (ca 1490- ca1560) Meunier à foulons du moulin de gurolles (cf image carte de cassini) en 1513 , riche fabriquant drapier</p>
   <p class="celebind">Pâtureau Denis (ca1530- ca1611) Marchand de laines, Maitre moulinier des moulins de Gurolles ( Aigurolles) en Saint Maur ,fermier général en partie de l'abbaye de Saint Gildas
  </p>
  <p class="celebind">Pâtureau Blaise (ca 1555 -ca1630) Maitre Meunier Foulons. à Gurolles (manufacturier) fermier général de la seigneurie de la Ceuille en les murs de Chateauroux, ferme reprise par son fils Vincent puis son petit fils Clément Pastureau
  </p>
   <p class="celebind">Pâtureau Vincent (ca 1587- ) Meunier du moulin de Parcay( en Saint Maur cf Cassini moulin Parcé) par Bail de 1625 aux religieuse d'Orsan, fermier de la seigneurie de la Ceuille aux seigneurs de Châteauroux, seigneurie située en la ville de Châteauroux,
  </p>
   <p class="celebind">Pâtureau Vincent (ca 1620-ca 1666) : Fermier général de la seigneurie de la Ceuille, par bail de 1660 des seigneurs de Châteauroux. Maître Moulinier(meunier propriétaire) du Moulin de Gurolles en Saint Maur sur Indre (36)
  </p>
   
  <p><a href="https://gw.geneanet.org/cpmirand?lang=en&pz=jean&nz=patureau+mirand&p=francois&n=patureau">Source 1 : 7 siècles à Châteauroux </a></p>
  