{% extends "base.html" %}
{% block title %}Affiche arbre{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/prof.css" />
{% endblock %}
{% block content %}
{% load filtertags %}
 <div id="conteneur2" >
 <br>

  <p class="title">Les personnes vivant de la terre avant le XIXème siècle.</p>

<br><br>
  <p class="texteprof">
  Après avoir lu plusieurs textes traitant de la vie à la campagne, voici la façon dont  je me représente la situation.
  </p>
  <br>
    <p class="texteprof">
  Au plus haut de l’échelle nous avons les propriétaires. En effet, nous pouvons trouver dans les actes de mariage, naissance, décès la profession de Propriétaire. Propriétaire n’étant pas une activité nous pouvons imaginer que ces personnes étaient rentières et vivaient de l’exploitation de leurs terres faite par autrui.
    </p>
    <br>
     <p class="texteprof">
Cette exploitation peut prendre grossièrement deux formes :
   </p>
   <br>
   <p class="texteprof">
<strong>1)Le propriétaire reste le gestionnaire :</strong>
</p><br>
<p class="texteprof">
   Dans ces conditions, le propriétaire peut faire appel à des travailleurs salariés <strong> « manouvriers »</strong> ou <strong>« journaliers »</strong> payés à la journée. Si l’exploitation est grande il peut faire appel à un <strong>« régisseur »</strong> qui s’occupera de la gestion de l’exploitation sous son autorité. La catégorie de manouvriers et journaliers forment la catégorie la plus pauvre et majoritaire de la campagne d’avant 1900. Le régisseur quant à lui est une personne importante de part son pouvoir sur la gestion de l’exploitation.
</p>
<br>
<p class="texteprof">
  Une seconde possibilité serait que le propriétaire laisse une certaine autonomie aux exploitants de ses terres. Ainsi il leur laisse exploiter ses terres, lui s’occupe d’avancer les semences et récupère ensuite la moitié des fruits de la récolte <strong>« les métayers »</strong> ou une partie variable de la récolte <strong>« les colons »</strong>. La plupart du temps le terme indiqué pour ces situations sont <strong>« cultivateurs »</strong> (terme utilisé plutôt après la fin du XVIII  ou <strong>« laboureurs »</strong> (terme utilisé plutôt avant la fin du XVIII ». La situation de ces personnes était bien meilleure que celle des manouvriers ou des journaliers mais très variable entre eux suivant la taille de leur exploitation. Ces personnes pouvaient être également propriétaires mais d’une surface insuffisante pour pouvoir se passer de l’exploitation de terres d’autrui.
</p>
<br>
 <p class="texteprof">
<strong>2)Le propriétaire loue ses terres.</strong>
</p>
   <br>
    <p class="texteprof">
   Ici le propriétaire n’est plus à la tête de l’exploitation mais à la tête d’un patrimoine immobilier. Il loue ses terres (Fermage) à de riches « laboureurs » ou « cultivateurs » qui peuvent se permettre de payer l’avance sur les semences pour cultiver les terres. Chaque année ils verseront une rente fixe au propriétaire.
   Ces « cultivateurs » deviennent <strong>fermiers</strong>.
   Suivant la taille de l’exploitation ils peuvent s’allouer également les services de « manouvriers » ou  «journaliers ». Les fermiers deviennent la catégorie juste en dessous des propriétaires voire même supérieure à certains parfois. Ils ont un pouvoir sur les hommes qu’ils emploient mais également sur le prix des grains.

  </p>
  <br>
  <br>
  <p class="src">
   Source : En grande partie inspirée du texte de Turgot : Réflexions sur la formation et la distribution de la richesses


 </p>
	</div>
 </div>
{%  endblock %}