 <p class="celebnom"><A name="ancre2">Jean Siffrein Maury</A></p>
   <br>
  <br>
  <p class="celebind">
  Jean-Siffrein, né à Valréas le 26 juin 1746, mort le 12 mai 1817 à Rome. Prédicateur distingué, archevêque de Nicée, puis évêque de Corneto et évêque de Montefiascone, archevêque de Paris (1810-1814), membre de l'Institut. Il participa à la Révolution Française en tant que chef de la droite contre révolutionnaire.
        </p>


  <br>
  <br>
  <p class="celebind">
  L'abbé Maury est un personnage haut en couleur, fils de cordonnier il a gravi les échelons jusqu'à devenir un des personnages les plus célèbres de la révolution française.
  Un de ses plus grands talents est sa grandiloquence. A ce titre, il est intervenu de nombreuses fois devant l'assemblée en tant que député pour défendre la monarchie et le clergé.
  De ce fait, il fut la cible privilégiée des révolutionnaires et notamment se fit ridiculiser régulièrement dans des journaux révolutionnaires pamphlétaires.
  Après la constituante, il émigra en Italie, fut nommé Archevêque de Nicée et cardinal en 1794.
  Souhaitant rentrer en France il rallia l'empereur et rentra en France en 1806 provoquant les foudres du pape Pie VII. La monarchie de retour avec Louis XVIII provoqua sa chute. En effet,
  Louis XVIII chassa le traitre. Le pape Pie VII le laissa emprisonné au château de Saint-Ange. Il mourra un peu plus tard dans un couvent en 1817.




  </p>