{% extends "baseCousin.html" %}
{% block title %}Affiche arbre{% endblock %}
{% block css %}{% load static %}
    <link rel="stylesheet" type="text/css" href={% static "css/cousacc.css" %} />
{% endblock %}
{% block content %}
<div id="boitecousin">
    <table height="100%" width="100%"  border="1" bgcolor="#747064">
   <tr>
       <td height="10%" width="50%" valign="middle" class="process"><p class="liencous"><a class="white" href="TabActes">Actes</a></p></td>
        <td height="10%" width="50%" valign="middle" class="process"><p class="liencous"><a class="white" href="gedDownload">Gedcom</a></p></td>
     </tr>
     <tr>
         <td height="90%" COLSPAN=6 bgcolor="#d9d9d7" ALIGN="center">
              <form action="TabActes"  method="POST">'
     {% csrf_token %}
	<br><br>Filtre par le NOM : <select name="NomFiltre" onchange="submit()">
	 <OPTION value="tous">tous
       {% for i in listeNoms %}
              <OPTION value={{ i }}>{{ i }}
            {% endfor %}
       </select><br><br>
     </form>
       Vous pouvez aider à rendre ce site riche en information et dynamique,
      notamment en ajoutant en ligne de nouveaux actes en cliquant ici :
      <a class="lien" href="enractes"><b>Enregistrer de nouveaux actes</b></a><br><br>';
    <table width='90%' class='gen'><TR>
    <TD width='10%' class='gen' align='center'>
<span class='cousacc'>Identifiant</span>
</TD>
<TD width='10%' class='gen' align='center'>
<span class='cousacc'>TYPE</span>
</TD>
<TD width='60%' class='gen' align='center'>
<span class='cousacc'>INTITULE</span>
</TD>
<TD width='10%' class='gen' align='center'>
<span class='cousacc'>DATE</span>
</TD>
<TD width='10%' class='gen' align='center'>
<span class='cousacc'>Consultation</span>
</TD>
</TR>

   {% for nom in Actes %}
<tr>
            <TD> {{ nom.LOGIN }}</TD>
       <TD> {{ nom.TYPE }}</TD>
       <TD> {{ nom.NOM1 }}  {{ nom.PRENOM1 }} & {{ nom.NOM2 }}  {{ nom.PRENOM2 }}</TD>
  <TD> {{ nom.DATE_ACTE }}</TD>
       <TD>   <a target="_blank" href="affActes?pathImg={{ nom.IMG_ACTES }}">Voir</a></TD>



</tr>
    {% endfor %}

    </table>
{{ AffichNom }}
     </td>

	</tr>

	</table>

     </div>

{% endblock %}